
<div class="button-wrapper" *ngFor="let element of elements; let i = index" (click)="onEdit($event, element.id)">
  <button
    [attr.id]="'button-' + element.id"
    class="button is-warning resizable-draggable on-dropzone drag1 draggable resizable"
    [ngClass]="{'res': isEditMode}"
    [ngStyle]="element.style"
  >
   {{ element.text || element.id + ' New Button'  }}
  </button>
</div>
<div class="container-workspace-property-panel">
  <app-property-panel [lastEditedButtonId]="lastEditedButtonId" [elements]="elements" [elementType]="elementType"></app-property-panel>
  <app-workspace></app-workspace>
</div>

<button class="button is-success" (click)="onCreateNewButton()">Create new element</button>

<div class="my-3">
  <app-file-upload-form></app-file-upload-form>
</div>

<div class="my-2">
  <app-file-upload-list></app-file-upload-list>
</div>
