<div *ngFor="let element of elements$ | async" (click)="selectButton(element.id)">
  <button
    class="button is-warning resizable-draggable drag1 draggable resizable"
    [id]='element.id'
    [attr.data-x]="element.x"
    [attr.data-y]="element.y"
    [ngStyle]="getStyles(element)"
  >{{ element.text  }}</button>

</div>
<div class="container-workspace-property-panel">
  <app-property-panel></app-property-panel>
  <app-workspace></app-workspace>
</div>

<button class="button is-success" (click)="createButton()">Create new element</button>
<!--<button class="button is-danger" (click)="deleteLastEditedButton()">Delete element</button>-->
