button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0;
  gap: 50px;
  position: absolute;
  background-color: palevioletred;
  white-space: pre-wrap;
  word-break: break-word;
  z-index: 10;
}

.h1-container h1 {
  position: absolute;
  width: 100%;
}

.resize-drag {
  width: 120px;
  border-radius: 8px;
  padding: 20px;
  margin: 1rem;
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.manipulator.one {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -5px;
  left: -5px;
  border-radius: 50%;

  cursor: nwse-resize;
}

.fontsize {
  position: relative;
  top: 42px;
}

button span {
  position: absolute;
}


.button.is-success {
  position: absolute;
  bottom: 0;
}

.on-dropzone {
  height: 100%;
  width: 100%;
  background: #ffa100;
}
