<div class="button-wrapper" *ngFor="let element of elements; let i = index" (click)="onEdit($event, element.id)">
  <button
    [attr.id]="'button-' + element.id"
    class="button is-warning resizable-draggable"
    [ngClass]="{'res': isEditMode}"
    [ngStyle]="element.style"
  >
   {{ element.text || element.id + ' New Button'  }}
  </button>

</div>
<app-property-panel [lastEditedButtonId]="lastEditedButtonId" [elements]="elements" [elementType]="elementType"></app-property-panel>

<button class="button is-success" (click)="onCreateNewButton()">Create new element</button>
<!--<button class="button is-success" (click)="createNewTitle()">Create new element</button>-->


