button {
  display: flex;
  flex: 1;
  gap: 50px;
  background-color: palevioletred;
}

.fontsize {
  position: relative;
  top: 42px;
}
.button-wrapper {
  position: relative;
  display: inline-block;
}

button span {
  position: absolute;
}

.colorPaletteContainer {
  position: relative;
  top: 50px;
}

