button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0;
  gap: 50px;
  position: absolute;
  background-color: palevioletred;
}

.h1-container h1 {
  position: absolute;
  width: 100%;
}
/*h1 {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex: 1;*/
/*  margin: 0 auto;*/
/*}*/

.manipulator.one {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -5px;
  left: -5px;
  border-radius: 50%;

  cursor: nwse-resize;
}

.manipulator.two {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -5px;
  right: -5px;
  border-radius: 50%;

  cursor: nesw-resize;
}

.manipulator.three {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  bottom: -5px;
  right: -5px;
  border-radius: 50%;

  cursor: nwse-resize;
}

.manipulator.four {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

mat-slider {
  position: relative;
  top: 15px;
}
.fontsize {
  position: relative;
  top: 42px;
}
.button-wrapper {
  position: relative;
  display: inline-block;
}

.button123 {
  position: relative;
  z-index: 1;
  left: 150px;
  top: 200px
}
button span {
  position: absolute;
}
.example-section{
  position: relative;
  left: 142px;
}
.ben {
  position: absolute;
  left: 500px;
  top: 500px;
}
