button {
  display: flex;
  flex: 1;
  gap: 50px;
  background-color: palevioletred;
}

.fontsize {
  position: relative;
  top: 42px;
}
.button-wrapper {
  position: relative;
  display: inline-block;
}

button span {
  position: absolute;
}

.tap-target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16em;
  height: 16em;
  padding: 1em;
  margin: 1rem auto;
  box-sizing: border-box;

  border-radius: 100%;

  font-size: 1.125em;
  text-align: center;
  color: #fff;
  background-color: #29e;

  cursor: pointer;
  touch-action: none;
  user-select: none;

  transition: all 0.3s;
}


.colorPaletteContainer {
  position: relative;
  top: 50px;
}

