.property-panel {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 419px;
  height: 100%;
  background: #31314a
}

p {
  font-size: 1.1rem
}

.selected-element {
  position: relative;
  top: 15px;
  font-size: 23px;
  font-weight: 600
}
