<div class="background-container">
  <div class="background-expand">
    <p>Background</p>
    <div class="icon">
      <i class="fa-solid fa-chevron-down" (click)="openPanel('BackgroundPanel')"></i>
    </div>
  </div>
  <div class="background-panel" [class.active]="panelStates.BackgroundPanel">
    <div class="background-panel-content">
      <p>Color</p>
      <ngx-colors class="ngx-color-picker"
                  ngx-colors-trigger
                  [(ngModel)]="arrayColors[selectedBackgroundColor]"
                  (change)="styleValueOverride(selector,'background', arrayColors[selectedBackgroundColor])"
      >
      </ngx-colors>
      <input class="input-border-value"
             [value]="arrayColors[selectedBackgroundColor]"
             [(ngModel)]="arrayColors[selectedBackgroundColor]"

             (change)="getBackgroundStyle('background')"
      >

    </div>
    <app-file-upload-form></app-file-upload-form>
  </div>
</div>
